HOST=127.0.0.1
PORT=8787
STORAGE_DIR=/var/www/photobooth/storage
PUBLIC_BASE_URL=https://lumos-videobooth.fr
PHOTOBOOTH_API_KEY=lumos_pb_change_this_to_a_long_random_secret
MAX_UPLOAD_BYTES=1073741824
